@import url("https://fonts.googleapis.com/css?family=Indie+Flower|Josefin+Sans|Notable|Open+Sans|Source+Code+Pro&display=swap");

$blue: #345995;
$dark: #363537;
$dark2: #363537;
$grey: #c6c3c9;
$card: #38165a67;
$green: #0cce6b;
$orange: #ed7d3a;
$pink: #ef2d56;
$red: #b61c1c;
$white: rgb(235, 232, 232);
$white2: rgba(255, 255, 255, 0.692);
$yellow: #eac435;

$main-font: "Source Code Pro";
$title-font: "Notable";

$refreshIcon: "../icons/refresh-cw.svg";
$backgrounImg: "../images/background.png";
