@media (max-width: 1250px) {
  body {
    background-size: 580px !important;
  }
  .poke-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr) !important;

    margin: 70px 0 70px 40px !important;
    // width: 100% !important;
    max-height: 100% !important;
    max-width: 470px !important;
  }
}

@media (max-width: 1100px) {
  body {
    background-size: 490px !important;
  }
}

@media (max-width: 916px) {
  body {
    background-image: none !important;
  }

  .poke-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr) !important;

    width: 100% !important;

    gap: 8px 20px !important;

    margin: 70px 0 70px !important;

    justify-items: center;
    align-self: center;
  }

  .poke-detail {
    width: 100vw !important;
    border-radius: 0;
  }
}

@media (max-width: 470px) {
  body {
    background-image: none !important;
  }

  .poke-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr) !important;

    gap: 8px !important;

    max-width: 400px !important;
  }

  .card {
    min-width: 170px;
    min-height: 170px;
  }

  .poke-detail {
    .poke-stats {
      gap: 30px 5px !important;
    }
  }
}
